<nav
class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme mt-5"
id="layout-navbar"
>
<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-4" routerLink="#">
    <i class="bx bx-menu bx-sm"></i>

  </a>
</div>



<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  <div class="navbar-nav align-items-center">
  
   
    <div class="nav-item d-flex align-items-center">
     <button class="navbar-toggler  d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon me-4"></span>
     </button>
     <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
     
      <input
        type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..."
      />
    </div>
  </div>
 

  <ul class="navbar-nav flex-row align-items-center ms-auto">
  <button class="setting w-auto">
    <li class="nav-item lh-1 me-3" >
      <a
       
       style="text-decoration: none; color: black;"
       routerLink="#"
        data-icon="octicon-star"
        data-size="large"
        data-show-count="true"
        aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
        ><span class="h6">☆</span>Star
        </a
      >
    </li>
   </button>
   <button class="setting " style="background-color: aliceblue;" >
     <li class="nav-item lh-1 me-3" >
       <a
       class="h6"
        style="text-decoration: none; color: black;"
        routerLink="#"
         data-icon="octicon-star"
         data-size="large"
         data-show-count="true"
         aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
         >467</a
       >
     </li>
    </button>
  
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" href="#">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </div>
              <div class="flex-grow-1">
                <span class="fw-semibold d-block">John Doe</span>
                <small class="text-muted">Admin</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-user me-2"></i>
            <span class="align-middle">My Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-cog me-2"></i>
            <span class="align-middle">Settings</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <span class="d-flex align-items-center align-middle">
              <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
              <span class="flex-grow-1 align-middle">Billing</span>
              <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
            </span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" routerLink="#">
            <i class="bx bx-power-off me-2"></i>
            <span class="align-middle">Log Out</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
</nav> 




<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>

      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column flex-md-row mb-3">

            <li class="nav-item" >
              <a class="nav-link" routerLink="#"
               
                ><i class='far fa-address-book'></i>Account</a
              >
            </li>
           
            <li class="nav-item" >
              <a class="nav-link" routerLink="#"
               
            
                ><i class="fa fa-bell"></i> Notifications</a
              >
            </li>
            <li class="nav-item upbtn"  style="border-radius: 7px;">
              <a class="nav-link" routerLink="#" style="color:white;"
                ><i class="fa fa-link" style="color: white;"></i> Connections</a
              >
            </li>
          </ul>

          <div class="row">
          <div class="col-md-6 col-12 mb-md-0 mb-4">
            <div class="card">
              <h5 class="card-header">Connected Accounts</h5>
              <div class="card-body">
                <p>Display content from your connected accounts on your site</p>
                <!-- Connections -->
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../../assets/pic/google.png" alt="google" class="me-3" height="30" />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Google</h6>
                      <small class="text-muted">Calendar and contacts</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../../assets/pic/slack.png" alt="slack" class="me-3" height="30" />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Slack</h6>
                      <small class="text-muted">Communication</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../../assets/pic/github.png" alt="github" class="me-3" height="30" />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Github</h6>
                      <small class="text-muted">Manage your Git repositories</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/mailchimp.png"
                      alt="mailchimp"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Mailchimp</h6>
                      <small class="text-muted">Email marketing service</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="../../../../assets/pic/asana.png" alt="asana" class="me-3" height="30" />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Asana</h6>
                      <small class="text-muted">Communication</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Connections -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="card">
              <h5 class="card-header">Social Accounts</h5>
              <div class="card-body">
                <p>Display content from social accounts on your site</p>
                <!-- Social Accounts -->
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/facebook.png"
                      alt="facebook"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      
                      <h6 class="mb-0">Facebook</h6>
                      <small class="text-muted">Not Connected</small>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-secondary">
                        <i class="fa fa-link" ></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/twitter.png"
                      alt="twitter"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Twitter</h6>
                   
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/instagram.png"
                      alt="instagram"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">instagram</h6>
                 
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/dribbble.png"
                      alt="dribbble"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Dribbble</h6>
                      <small class="text-muted">Not Connected</small>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-secondary">
                        <i class="fa fa-link" ></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img
                      src="../../../../assets/pic/behance.png"
                      alt="behance"
                      class="me-3"
                      height="30"
                    />
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Behance</h6>
                      <small class="text-muted">Not Connected</small>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-secondary">
                        <i class="fa fa-link" ></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /Social Accounts -->
              </div>
            </div>
          </div>
        </div>



          