<nav
class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme mt-5"
id="layout-navbar"
>
<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
    <i class="bx bx-menu bx-sm"></i>

  </a>
</div>



<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  <div class="navbar-nav align-items-center">
  
   
    <div class="nav-item d-flex align-items-center">
     <button class="navbar-toggler  d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon me-4"></span>
     </button>
     <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
     
      <input
        type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..."
      />
    </div>
  </div>
 

  <ul class="navbar-nav flex-row align-items-center ms-auto">
  <button class="setting w-auto">
    <li class="nav-item lh-1 me-3" >
      <a
       
       style="text-decoration: none; color: black;"
        href="https://github.com/themeselection/sneat-html-admin-template-free"
        data-icon="octicon-star"
        data-size="large"
        data-show-count="true"
        aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
        ><span class="h6">☆</span>Star
        </a
      >
    </li>
   </button>
   <button class="setting " style="background-color: aliceblue;" >
     <li class="nav-item lh-1 me-3" >
       <a
       class="h6"
        style="text-decoration: none; color: black;"
         href="https://github.com/themeselection/sneat-html-admin-template-free"
         data-icon="octicon-star"
         data-size="large"
         data-show-count="true"
         aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
         >467</a
       >
     </li>
    </button>
  
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" href="#">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </div>
              <div class="flex-grow-1">
                <span class="fw-semibold d-block">John Doe</span>
                <small class="text-muted">Admin</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-user me-2"></i>
            <span class="align-middle">My Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-cog me-2"></i>
            <span class="align-middle">Settings</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <span class="d-flex align-items-center align-middle">
              <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
              <span class="flex-grow-1 align-middle">Billing</span>
              <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
            </span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" href="auth-login-basic.html">
            <i class="bx bx-power-off me-2"></i>
            <span class="align-middle">Log Out</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
</nav> 




<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>

      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item " >
              <a class="nav-link active " href="javascript:void(0);"><i class='far fa-address-book'></i> Account</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="pages-account-settings-notifications.html"
               
            
                ><i class="fa fa-bell"></i> Notifications</a
              >
            </li>
            <li class="nav-item upbtn"  style="border-radius: 7px;">
              <a class="nav-link" href="pages-account-settings-connections.html"
                ><i class="fa fa-link"></i> Connections</a
              >
            </li>
          </ul>

          