<nav
class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme mt-5"
id="layout-navbar"
>
<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-4" routerLink="#">
    <i class="bx bx-menu bx-sm"></i>

  </a>
</div>



<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  <div class="navbar-nav align-items-center">
  
   
    <div class="nav-item d-flex align-items-center">
     <button class="navbar-toggler  d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon me-4"></span>
     </button>
     <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
     
      <input
        type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..."
      />
    </div>
  </div>
 

  <ul class="navbar-nav flex-row align-items-center ms-auto">
  <button class="setting w-auto">
    <li class="nav-item lh-1 me-3" >
      <a
       
       style="text-decoration: none; color: black;"
       routerLink="#"
        data-icon="octicon-star"
        data-size="large"
        data-show-count="true"
        aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
        ><span class="h6">☆</span>Star
        </a
      >
    </li>
   </button>
   <button class="setting " style="background-color: aliceblue;" >
     <li class="nav-item lh-1 me-3" >
       <a
       class="h6"
        style="text-decoration: none; color: black;"
        routerLink="#"
         data-icon="octicon-star"
         data-size="large"
         data-show-count="true"
         aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
         >467</a
       >
     </li>
    </button>
  
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow" routerLink="#" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" routerLink="#">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <img src="../../../../assets/pic/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </div>
              <div class="flex-grow-1">
                <span class="fw-semibold d-block">John Doe</span>
                <small class="text-muted">Admin</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" routerLink="#">
            <i class="bx bx-user me-2"></i>
            <span class="align-middle">My Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="#">
            <i class="bx bx-cog me-2"></i>
            <span class="align-middle">Settings</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="#">
            <span class="d-flex align-items-center align-middle">
              <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
              <span class="flex-grow-1 align-middle">Billing</span>
              <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
            </span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <a class="dropdown-item" routerLink="#">
            <i class="bx bx-power-off me-2"></i>
            <span class="align-middle">Log Out</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
</nav> 




<div class="content-wrapper">
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Layout Demo -->
  <div class="layout-demo-wrapper">
    <div class="layout-demo-placeholder">
      <img
        src="../../../../assets/pic/layout-container-light.png"
        class="img-fluid"
        alt="Layout without menu"
        data-app-light-img="layouts/layout-without-menu-light.png"
        data-app-dark-img="layouts/layout-without-menu-dark.png"
      />
    </div>
    <div class="layout-demo-info">
      <h4>Layout container</h4>
      <h6 class=" mt-3" >Container layout sets a <span style="color: #ff3e1d; ">max-width</span>  at each responsive breakpoint</h6>
    </div>
  </div>
  <!--/ Layout Demo -->
</div>

<div class="content-backdrop fade"></div>
</div>








