


<footer class="content-footer footer" style="background-color: white;">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0" style="color: gray;">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a routerLink="#"  class="footer-link fw-bolder" style="color: gray;">ThemeSelection</a>
      </div>
      <div>
        <a routerLink="#" class="footer-link me-4"  style="color: gray;">License</a>
        <a routerLink="#"  class="footer-link me-4" style="color: gray;">More Themes</a>
  
        <a
        routerLink="#"
          
          class="footer-link me-4"
          style="color: gray;"
          >Documentation</a
        >
  
        <a
        style="color: gray;"
        routerLink="#"
        
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>
