<div class="content-wrapper">
    <!-- Content -->
    
    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- Layout Demo -->
      <div class="layout-demo-wrapper">
        <div class="layout-demo-placeholder">
          <img
            src="../../../../assets/pic/layout-without-navbar-light.png"
            class="img-fluid"
            alt="Layout without menu"
            data-app-light-img="layouts/layout-without-menu-light.png"
            data-app-dark-img="layouts/layout-without-menu-dark.png"
          />
        </div>
        <div class="layout-demo-info">
          <h4>Layout without Navbar</h4>
          <h5 class=" mt-3"  >Layout does not contain Navbar component.</h5>
        </div>
      </div>
      <!--/ Layout Demo -->
    </div>
    
    <div class="content-backdrop fade"></div>
    </div>
    
    
    
    
    
    
    
    
    
